# for editing sprites
drawing

# stores gameboard images
games

# get from https://github.com/gikou-official/Gikou
gikou2_win

# original resources (2x larger)
l_resources

# node_modules / download yourself
node_modules

# contains auth token
auth.json
config.json

# testing output
temp.png
test.js